openapi: 3.0.3
info:
  title: SWAPI - The Star Wars API (provider contract)
  version: "1.0"
  description: |
    Third-party provider contract for the demo. Authored from https://swapi.dev/documentation.
    Deliberately faithful to the real API's quirks: every scalar is a string, numeric fields
    can be "unknown" or "n/a", years use the BBY/ABY calendar, and relations are URLs.
servers:
  - url: https://swapi.dev/api
paths:
  /people/:
    get:
      operationId: listPeople
      summary: List or search people (paginated, 10 per page)
      parameters:
        - name: search
          in: query
          required: false
          schema: { type: string }
          description: Case-insensitive partial match on name.
        - name: page
          in: query
          required: false
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: A page of people
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PeoplePage" }
  /people/{id}/:
    get:
      operationId: getPerson
      summary: Get a single person by numeric id
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: The person
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Person" }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
  /planets/:
    get:
      operationId: listPlanets
      summary: List or search planets (paginated)
      parameters:
        - name: search
          in: query
          required: false
          schema: { type: string }
        - name: page
          in: query
          required: false
          schema: { type: integer, minimum: 1 }
      responses:
        "200":
          description: A page of planets
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PlanetsPage" }
  /planets/{id}/:
    get:
      operationId: getPlanet
      summary: Get a single planet by numeric id
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: The planet
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Planet" }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
  /films/{id}/:
    get:
      operationId: getFilm
      summary: Get a single film by numeric id
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: The film
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Film" }
        "404":
          description: Not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
components:
  schemas:
    Error:
      type: object
      properties:
        detail: { type: string, example: "Not found." }
    PeoplePage:
      type: object
      required: [count, results]
      properties:
        count: { type: integer }
        next: { type: string, nullable: true, format: uri, description: URL of the next page or null }
        previous: { type: string, nullable: true, format: uri }
        results:
          type: array
          items: { $ref: "#/components/schemas/Person" }
    PlanetsPage:
      type: object
      required: [count, results]
      properties:
        count: { type: integer }
        next: { type: string, nullable: true, format: uri }
        previous: { type: string, nullable: true, format: uri }
        results:
          type: array
          items: { $ref: "#/components/schemas/Planet" }
    Person:
      type: object
      required: [name, url]
      properties:
        name: { type: string, example: "Luke Skywalker" }
        height: { type: string, description: 'Height in centimeters as a string, or "unknown".', example: "172" }
        mass: { type: string, description: 'Mass in kilograms as a string, may contain thousands separators ("1,358"), or "unknown".', example: "77" }
        hair_color: { type: string, description: 'Comma-separated list, or "n/a" / "none".', example: "blond" }
        skin_color: { type: string, example: "fair" }
        eye_color: { type: string, example: "blue" }
        birth_year: { type: string, description: 'Galactic calendar year, e.g. "19BBY" or "41.9BBY", or "unknown".', example: "19BBY" }
        gender: { type: string, description: 'One of "male", "female", "hermaphrodite", "n/a", "unknown".', example: "male" }
        homeworld: { type: string, format: uri, description: URL of the Planet resource. }
        films:
          type: array
          items: { type: string, format: uri }
        species:
          type: array
          items: { type: string, format: uri }
        vehicles:
          type: array
          items: { type: string, format: uri }
        starships:
          type: array
          items: { type: string, format: uri }
        created: { type: string, format: date-time }
        edited: { type: string, format: date-time }
        url: { type: string, format: uri, description: Canonical URL of this resource; the numeric id is its last path segment. }
    Planet:
      type: object
      required: [name, url]
      properties:
        name: { type: string, example: "Tatooine" }
        rotation_period: { type: string, description: 'Hours as a string or "unknown".', example: "23" }
        orbital_period: { type: string, description: 'Days as a string or "unknown".', example: "304" }
        diameter: { type: string, description: 'Kilometers as a string or "unknown".', example: "10465" }
        climate: { type: string, description: Comma-separated list., example: "arid" }
        gravity: { type: string, description: 'e.g. "1 standard", "1.1 standard", "N/A".', example: "1 standard" }
        terrain: { type: string, description: Comma-separated list., example: "desert" }
        surface_water: { type: string, description: 'Percentage as a string or "unknown".', example: "1" }
        population: { type: string, description: 'Integer as a string or "unknown".', example: "200000" }
        residents:
          type: array
          items: { type: string, format: uri }
        films:
          type: array
          items: { type: string, format: uri }
        created: { type: string, format: date-time }
        edited: { type: string, format: date-time }
        url: { type: string, format: uri }
    Film:
      type: object
      required: [title, url]
      properties:
        title: { type: string, example: "A New Hope" }
        episode_id: { type: integer, example: 4 }
        opening_crawl: { type: string }
        director: { type: string }
        producer: { type: string, description: Comma-separated list. }
        release_date: { type: string, format: date, example: "1977-05-25" }
        characters:
          type: array
          items: { type: string, format: uri }
        planets:
          type: array
          items: { type: string, format: uri }
        created: { type: string, format: date-time }
        edited: { type: string, format: date-time }
        url: { type: string, format: uri }
